Source: libplack-app-proxy-perl
Section: perl
Priority: optional
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Piotr Roszatycki <dexter@debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libanyevent-http-perl (>= 1.44),
 libhttp-message-perl,
 libplack-perl,
 libtest-requires-perl,
 libtest-tcp-perl,
 libwww-perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Plack-App-Proxy
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libplack-app-proxy-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libplack-app-proxy-perl.git

Package: libplack-app-proxy-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libanyevent-http-perl (>= 1.44),
 libhttp-message-perl,
 libplack-perl (>= 1.0013),
 libwww-perl
Description: Plack::App::Proxy - middleware-aware proxy application for Plack
 A streaming capable proxy for Plack.
 .
 This application is just like a normal PSGI application and is middleware
 aware, which means you can modify proxy requests (and responses) using Plack
 middleware stack.
