Source: libplack-app-proxy-perl
Section: perl
Priority: optional
Maintainer: Piotr Roszatycki <dexter@debian.org>
Build-Depends: debhelper (>= 9)
Build-Depends-Indep: libanyevent-http-perl (>= 1.44),
 libhttp-message-perl,
 libplack-perl,
 libtest-requires-perl,
 libtest-tcp-perl,
 libwww-perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/Plack-App-Proxy

Package: libplack-app-proxy-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libanyevent-http-perl (>= 1.44),
 libhttp-message-perl,
 libplack-perl (>= 1.0013),
 libwww-perl
Description: proxy requests
 Plack::Middleware::Proxy::LoadBalancer allow you to define several backends.
 .
 This description was automagically extracted from the module by dh-make-perl.
